


.black{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0)
}


.logo {
    text-align: center;
}


.logo img{
    width: 70px;
    height: 70px;

  
}

.title{
    text-align: center;
    height: 35px;
    background-color: #fff;
position: sticky; top: 0;
}

h3{
    display: inline;
    margin: auto 12px;
     
}

.article1{
    width: 100%;
   border: 1px solid rgb(231, 216, 216);
   margin: 10px;
   padding-bottom: 0 !important;
}

/* התמונה שאמורה להיות בימין */
.article1 .img-r {
    float: right;         /* הוספנו: הפקודה שחובה שתהיה כאן */
    width: 180px;
    height: 100px;
    display: block;       
    margin-bottom: 0 !important; 
}

/* התמונה שאמורה להיות בשמאל */
.article1 .img-l {
    float: left;          /* קיימת אצלך וזה מצוין */
    width: 180px;
    height: 100px;
    display: block;       
    margin-bottom: 0 !important; 
}


.article2{
    width: 100%;
   border: 1px solid rgb(231, 216, 216);
   /* מכריח את הדיב להיות לפחות בגודל של האלמנט שבפנים  */
    overflow: auto;   
    padding-bottom: 0 !important;
}

.article2 h2, .article2 p {
    margin-bottom: 0 !important;
    margin-top: 5px; /* אפשר להשאיר מרווח קטן למעלה אם רוצים */
}

.article2 .right-img{
    width: 180px;
    height: 100px;
    float: right;
    margin-left: 10px;
   
    
}


.article2 .left-img{
    width: 180px;
    height: 100px;
    float: left;
    
   
    
}


.article2 h2{
    color: rgb(201, 6, 6);
    
}


