.black{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0)
}


.logo {
    text-align: center;
}


.logo img{
    width: 70px;
    height: 70px;

  
}

.title{
    text-align: center;
    height: 35px;
    background-color: #fff;
position: sticky; top: 0;
}

h3{
    display: inline;
    margin: auto 12px;
     
}

.articles img{
    width: 100%;
   
}




